<div class="container mt-4">
  <div class="card bg-secondary text-center animated animate__fadeInDown">
    <div class="card-header card-title">
      <h5>Quienes somos</h5>
    </div>
    <div class="card-body"></div>
    <p class="card-text mb-5 ml-3 mr-3">
      Somos un grupo de 3 estudiantes de Ingeniería de Sistemas de la Universidad de Antioquia, los cuales se han
      interesado en un aspecto
      particular de la vida cotidiana, y las formas en las que la tecnologia puede ayudar a facilitar algunos procesos
      tediosos, o dar acceso
      a los poco comunes, para permitirnos un mayor conocimiento de lo que sucede en nuestros hogares cuando no estamos
      pendientes de ellos.
    </p>
  </div>
</div>

<div class="container mt-5">
  <div class="card-deck text-center">
    <div class="card bg-secondary animated animate__fadeInLeft">
      <h5 class="card-title card-header">Misión</h5>
      <div class="card-body">
        <p class="card-text">
          Tener una sociedad acertiva de las tecnologias IoT, para que estas entiendan y aprovechen los beneficios que
          estas tecnologias
          ofrecen a los hogares.
          Que comprendan los efectos de las mismas en la vida diaria y las facilidades que nos proveen ademas de la
          seguridad que estas brindan.
        </p>
      </div>
    </div>
    <div class="card bg-secondary animated animate__fadeInDown">
      <h5 class="card-title card-header">Visión</h5>
      <div class="card-body">
        <p class="card-text">
          Esperamos que de hoy dia a unos años mas adelante los hogares comiencen a ser inteligentes, comenzando con
          darle
          control e informacion a nuestros usuarios sobre los servicios publicos de sus hogares, para que esta
          tecnologia se
          empiece a adaptar en nuestra sociedad y por lo tanto sea mas aceptada a medida que avance.
        </p>
      </div>
    </div>
    <div class="card bg-secondary animated animate__fadeInRight">
      <h5 class="card-title card-header">Objetivo</h5>
      <div class="card-body">
        <p class="card-text">
          Nuestro objetivo es hacer que la sociedad se adapte a los hogares inteligentes que se iran desarrollando,
          comenzando por conocer y experimentar con lo que estas tecnologias proveen para nuestra vida diaria.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container text-center padding animated animate__zoomInDown">
  <div class="col animated animate__fadeIn">
    <h3 class="text-center mt-10" *ngIf="!auth.loggedIn">Controla tus servicios</h3>
    <img src="../../../../assets/img/Logo.png" class="mt-3" alt="">
    <h3 class="text-center mt-10" *ngIf="auth.loggedIn">Recuerda que siempre puedes regresar</h3>
  </div>
  <div class="text-center mt-3 anamted animate__fadeIn">
    <button class="btn btn-primary" (click)="userLogin()" *ngIf="!auth.loggedIn">Ingresar</button>
    <button class="btn btn-danger" (click)="auth.logout()" *ngIf="auth.loggedIn">Salir</button>
  </div>
</div>

<div class="container mt-5 text-center mb-5">
  <div class="card-deck">
    <div class="card bg-secondary animated animate__fadeInLeft">
      <img src="..." class="card-img-top card-header" alt="...">
      <h5 class="card-title card-header">Daniel Alejandro Rodriguez Garcia</h5>
      <div class="card-body">
        <p class="card-text">
          Co-fundador de HOUTSY y estudiante de noveno nivel de Ingeniería de Sistemas de la Universidad de Antioquia,
          enfocado en el desarrollo de aplicaciones web y con un interes peculiar en los dispositivos IoT y lo que rodea
          esta nueva tecnologia.
          Aspira llegar al punto de no tener que trabajar para vivir tranquilo, mas no dejar de trabajar en lo que le
          apasiona.
        </p>
      </div>
    </div>
    <div class="card bg-secondary animated animate__fadeInUp">
      <img src="../../../../assets/img/Jesus Daniel.jpg" class="img-circle mt-2 mb-2" alt="...">
      <h5 class="card-title card-header">Jesús Daniel Roldán Laverde</h5>
      <div class="card-body">
        <p class="card-text">
          Co-fundador de HOUTSY y estudiante de octavo nivel de Ingeniería de Sistemas de la Universidad de Antioquia,
          con un interés particular en el desarrollo de software, concretamente en el área de programación.
          Quizá no le de la vuelta al mundo como siempre ha soñado, pero al menos aspira a que su código lo haga.
        </p>
      </div>
    </div>
    <div class="card bg-secondary animated animate__fadeInRight">
      <img src="" class="card-img-top card-header" alt="...">
      <h5 class="card-title card-header">Juan David Zuluaga Ruiz</h5>
      <div class="card-body">
        <p class="card-text">* Inserte aqui reseña del personaje *</p>
      </div>
    </div>
  </div>
</div>