<div class="container">
    <h1 class="text-center mt-5">HOUTSY</h1>
    <h2 class="text-center">Home Utility System</h2>
    <div class="card-group mt-5">
        <div class="card bg-dark">
          <div class="card-body">
            <h5 class="card-title text-center">Misión</h5>
            <p class="card-text text-center">
                *Inserte aquí mision*
            </p>
          </div>
        </div>
        <div class="card bg-dark">
          <div class="card-body">
            <h5 class="card-title text-center">Visión</h5>
            <p class="card-text text-center">
                *Inserte aquí visión*
            </p>
          </div>
        </div>
        <div class="card bg-dark">
          <div class="card-body">
            <h5 class="card-title text-center">Objetivos</h5>
            <p class="card-text text-center">
                *Inserte aquí los objetivos*
            </p>
          </div>
        </div>
      </div>
</div>


<div class="container text-center padding">
    <div class="col">
        <h3 class="text-center mt-10">Ingresar</h3>
        <img src="../../../../assets/img/Logo.png" class="animated fadeIn" alt="">
    </div>
</div>


