
<h1 class="mt-3">John's Blog</h1>
<ul class="nav flex-column mt-3">
    <!-- <li class="active"><a href="#section1">Home</a></li>
    <li><a href="#section2">Friends</a></li>
    <li><a href="#section3">Family</a></li>
    <li><a href="#section3">Photos</a></li> -->
        <li class="nav-item">
          <a class="nav-link active" href="#"><h3>Active</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><h2>Link1</h2></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><h4>Link2</h4></a>
        </li>
</ul>