<div>
    <div class="chartjs-container" *ngIf="grafica">
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins"
            (chartHover)="chartHovered($event)" 
            (chartClick)="chartClicked($event)">
        </canvas>
    </div>
    <div class="container text-center mt-5">
        <button class="btn btn-primary" (click)="grafica=!grafica">Ocultar gráfica</button>
    </div>
</div>

<div class="card-deck mt-5 text-center">
    <div class="card text-white bg-primary mb-3 ml-3">
        <h5 class="card-title card-header">Agua</h5>
        <!--  Datos del usuario<img src="..." class="card-img-top" alt="..."> -->
        <h1 class="mt-4">$ {{ aguaAPesos }}</h1>
        <hr>
        <div class="card-body">
            <button class="btn btn-light" *ngIf="agua === true" (click)="cerrarAgua()">Abrir</button>
            <button class="btn btn-light" *ngIf="agua === false" (click)="abrirAgua()">Cerrar</button>
        </div>
    </div>
    <div class="card text-white bg-danger mb-3 ml-3">
        <h5 class="card-title card-header">Energia</h5>
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <h1 class="mt-4">$ {{ energiaAPesos }}</h1>
        <hr> 
        <div class="card-body">
            <button class="btn btn-light" *ngIf="energia === true" (click)="cerrarEnergia()">Abrir</button>
            <button class="btn btn-light" *ngIf="energia === false" (click)="abrirEnergia()">Cerrar</button>
        </div>
    </div>
    <div class="card text-white bg-success mb-3 ml-3">
        <h5 class="card-title card-header">Gas</h5>
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <h1 class="mt-4">$ {{ gasAPesos }}</h1>  
        <hr>
        <div class="card-body">
            <button class="btn btn-light" *ngIf="gas === true" (click)="cerrarGas()">Abrir</button>
            <button class="btn btn-light" *ngIf="gas === false" (click)="abrirGas()">Cerrar</button>
        </div>
    </div>
</div>