<div>
    <div class="chartjs-container" *ngIf="grafica">
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins"
            (chartHover)="chartHovered($event)" 
            (chartClick)="chartClicked($event)">
        </canvas>
    </div>
    <div class="container text-center mt-5">
        <button class="btn btn-primary" (click)="grafica=!grafica">Ocultar gráfica</button>
    </div>
</div>